*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

h2{
    color: grey;
    font-size: 0.8em;
}
h1{
    font-size: 1em;
}

/*pagina principale*/
.contenitore{
    width: 80%;
    margin: auto;
    margin-top: 2em;
    /*background-color: grey;*/
}

/*singola inserzione*/
.inserzione{
    margin-left: 1.2em;
    margin-top: 2em;
    float: left;
    width: calc(100% / 3 - 1.3em);
    display: inline-block;
    position: relative;
}

/*grandezza foto nell'inserzione*/
.foto{
    width: 100%;
    height: 90%;
}

.cuore{
    background-color: white;
    width: 30px;
    height: 30px;
    top: 0.3em;
    right: 10px;
    font-size: 1.5em;
    position: absolute;
    text-align: center;    
}

.etichette{
    position: absolute;
    width: 100%;
    top: 80%;
}

/*mouse sulla foto cambia foto e colore cuore*/
.inserzione:hover .fotoA{
    display: none;
}

  /*con block crea bug*/
.inserzione:hover .fotoB{
    display: inline-block;
}

.inserzione:hover .hearts{
    color: red;
}
/*fine hover*/

.etichetta1, .etichetta2{
    display: inline-block;
}

/*sconto*/
.etichetta1{
    background-color: red;
}

/*sostenibilità*/
.etichetta2{
    background-color: green;
}

.sconto, .sostenibilita{
    font-size: 0.8em;
    color: white;
    font-weight: bold;
}

/*foto iniziale*/
.fotoA{
    width: 100%;
}

/*foto visibile con hover*/
.fotoB{
    display: none;
    width: 100%;
}

.offerta{
    color:red;
    font-weight: bold;
}

.prezzo-base{
    text-decoration: line-through;
}